@model HomeAppenderViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сравнение цен</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/appenderstyle.css">
</head>
<body>

    <div class="form-container">
        <h3>Сравнение цен</h3>
        <form asp-action="Appender" method="post">
    <label for="ProductName">Название товара:</label>
    <select id="ProductName" name="ProductName">
        <option value="" disabled selected>Выберите название товара</option>
        @foreach (var product in ViewBag.ProductNames)
        {
            <option value="@product.Name">@product.Name</option>
        }
    </select>

    <label for="LinkDomotex">Ссылка на товар domotex.ru:</label>
    <input type="text" id="LinkDomotex" name="LinkDomotex" placeholder="Введите ссылку" required>

    <label for="LinkVodoparad">Ссылка на товар vodoparad.ru:</label>
    <input type="text" id="LinkVodoparad" name="LinkVodoparad" placeholder="Введите ссылку" required>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

    </div>
</body>
</html>

