@model HomeAppenderViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сравнение цен</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/appenderstyle.css">
</head>
<body>

    <div class="form-container">
        <h3>Сравнение цен</h3>
        <form action="/home/appender" method="post">
            <!-- Поле для ввода названия товара -->
            <label for="ProductName">Название товара:</label>
            <input type="text" id="ProductName" name="model.ProductName" placeholder="Введите название товара" required>

            <!-- Поле для ссылки на первом сайте -->
            <label for="LinkCersanit">Ссылка на товар cersanit.ru:</label>
            <input type="text" id="LinkCersanit" name="model.LinkCersanit" placeholder="Введите ссылку" required>

            <!-- Поле для ссылки на втором сайте -->
            <label for="LinkVodoparad">Ссылка на товар vodoparad.ru:</label>
            <input type="text" id="LinkVodoparad" name="model.LinkVodoparad" placeholder="Введите ссылку" required>

            <button class="btn btn-primary" name="action" onclick="location.href='/Home/DataViewer'">Добавить</button>
        </form>
    </div>
</body>
</html>
