<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система сбора цен</title>

    <!-- Подключение шрифта Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Подключение внешнего CSS -->
    <link rel="stylesheet" href="~/css/site.css">
    
</head>
<body>
    <div class="text-center">
        <h3 class="display-4">Добро пожаловать в систему сбора цен!</h3>
        <h3>Здесь вы можете сравнить цену на интересующий вас товар,</h3>
        <h3>а также добавить новые товары и сайты для отслеживания.</h3>
        <button onclick="location.href='/Home/Appender'">Начать</button>

    </div>
</body>
</html>
