@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в систему парсинга цен!</h1>
    <h3>Здесь вы можете рассмотреть динамику цен на интересующий вас товар,</h3>
    <h3>а также добавить новые товары и сайты для отслеживания</h3>












</div>
