@model List<PriceLog>


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сравнение цен</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/appenderstyle.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Результаты парсинга цен</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название товара</th>
                    <th>Время обращения</th>
                    <th>Цена Domotex</th>
                    <th>Цена Vodoparad</th>
                    <th>Ссылка на Domotex</th>
                    <th>Ссылка на Vodoparad</th>    
                </tr>
            </thead>      
        </table>
    </div>
</body>
</html>
